.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #A9DFBF;
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.raja1{
  max-width: 1300px;
/*  background-color: #2DF700;*/
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}
.raja2{
  flex: 1;
}
.raja3{
  flex: 1;
}
.raja4{

  flex: 1;

}
.raja5{
  flex: 1;
}
.raja6{
  flex: 1;
}
